@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans";
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
}
#page1{
    height: 100vh;
    width: 100%;
    background-image: url("home.jpg");
    background-blend-mode: screen;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    position: relative;
}
#navbar{
    height: 6%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
    background-color: #f1f0f072;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    
}
#navbar #left-nav{
    font-size: 1.5vw;
    letter-spacing: -.5px;
    font-family: "Open Sans";
    font-weight: 800;
    color: rgb(10, 10, 79);
}
#navbar #left-nav span{
    color: rgb(239, 62, 4);
}

/* right navbar */
#navbar #right-nav{
    display: flex;
    /* border: 1px solid black; */
}
#navbar #right-nav a{
    text-decoration: none;
    font-size: 1.1vw;
    padding: 0 2vw;
    color: #222;
    font-weight: 500;
    transition: all .4s normal;
}
#navbar #right-nav a:hover{
    color: rgb(239, 62, 4);
}

#navbar #right-nav i{
    display: none;
}

#navbar #right-nav #special{
    height: 1.6vw;
    width: 7vw;
    font-size: 1.1vw;
    color: #222;
    font-weight: 500;
    border: 1px solid rgb(239, 62, 4);
    position: relative;
    overflow: hidden;
    border-radius: 50px;
}
#navbar #right-nav #special div{
    height: 100%;
    width: 100%;
    background-color: rgb(239, 62, 4);
    position: absolute;
    top: 0;
    left: 0;
    transform: translatex(-100%);
    transition: transform .8s normal;
}
#navbar #right-nav #special:hover div{
    transform: translatex(0%);
}
#navbar #right-nav #special span{
    position: absolute;
    z-index: 9999;
    color: #222;
    transition: color .8s normal;
}
#navbar #right-nav #special:hover span{
    color: white;
}
#page1-content{
    padding: 0 5%;
}
#page1 h1{
    font-size: 3vw;
    letter-spacing: -1px;
    font-family: "Open Sans";
    position: relative;
    color: rgb(10, 10, 79);
}
#page1 h1 span{
    color: rgb(239, 62, 4);
}
#page1 h5{
    font-size: 1vw;
    font-weight: 500;
    width: 57%;
    /* text-align: center; */
    color: #000000;
    margin: 1vw 0;
}
#page1 #call{
    width: 15vw;
    margin-top: 2vw;
    padding: 0.4vw 1vw;
    border: none;
    color: #fff;
    background-color: rgb(10, 10, 79);
    font-weight: 700;
    /* box-shadow: 4px 4px 0 4px rgb(245, 255, 46); */
    cursor: pointer;
}
#page1 button span{
    margin-left: .5vw;
}
@media  (max-width: 600px){
    #page1{
        height: 70vh;
        width: 100%;
        background-image: linear-gradient(to right,rgb(255,255,255),#ffffffcc,#ffffff77,transparent,transparent,transparent),url("https://images.unsplash.com/photo-1615906655593-ad0386982a0f?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Y2FyJTIwbWVjaGFuaWN8ZW58MHx8MHx8fDA%3D");
        background-blend-mode: screen;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: right;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        position: relative;
        animation: anima 30s linear infinite alternate;
    }

 @keyframes anima {
     0%{
        background-image: linear-gradient(to right,rgb(255,255,255),#ffffffcc,#ffffff77,transparent,transparent,transparent),url("https://plus.unsplash.com/premium_photo-1677009541474-1fc2642943c1?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mzd8fG1lY2hhbmljfGVufDB8fDB8fHww");
        }
    25%{
        background-image: linear-gradient(to right,rgb(255,255,255),#ffffffcc,#ffffff77,transparent,transparent,transparent),url("https://plus.unsplash.com/premium_photo-1682129146838-bd333e03bcdb?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTIxfHxtZWNoYW5pY3xlbnwwfHwwfHx8MA%3D%3D");
       
    }
    50%{
        background-image: linear-gradient(to right,rgb(255,255,255),#ffffffcc,#ffffff77,transparent,transparent,transparent),url("https://plus.unsplash.com/premium_photo-1661495723184-7d4839d828e8?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjQxfHxjYXIlMjBnYXJhZ2V8ZW58MHx8MHx8fDA%3D");
    }
    75%{
         background-image: linear-gradient(to right,rgb(255,255,255),#ffffffcc,#ffffff77,transparent,transparent,transparent),url("https://images.unsplash.com/photo-1580273916550-e323be2ae537?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fGNhcnxlbnwwfHwwfHx8MA%3D%3D");
    }
    100%{
        background-image: linear-gradient(to right,rgb(255,255,255),#ffffffcc,#ffffff77,transparent,transparent,transparent),url("https://images.unsplash.com/photo-1642075211546-7de99d235d21?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTgyfHxtZWNoYW5pY3xlbnwwfHwwfHx8MA%3D%3D");
    }
 } 
    #navbar{
        height: 6%;
        width: 100%;
        background-color: #f1f0f095;
    }
    #navbar #left-nav{
        font-size: 2.5vh;
        letter-spacing: -.5px;
        font-family: "Open Sans";
        font-weight: 800;
        color: rgb(10, 10, 79);
    }
    #navbar #left-nav span{
        color: rgb(239, 62, 4);
    }
    #navbar #right-nav{
        display: flex;
    } 
    #navbar #right-nav span{
      display: none;
    }
    #navbar #right-nav i{
        display: inline-block;
        font-size: 2vh;
    }
    #navbar #right-nav #special{
        height: 2.7vh;
        width: 9vh;
        font-size: 1.4vw;
        color: #222;
        font-weight: 500;
        border: 1px solid rgb(239, 62, 4);
        position: relative;
        overflow: hidden;
        border-radius: 50px;
        /* margin-top: vh; */
    }
    #navbar #right-nav #special span{
        display: inline-block;
        font-size: 1.8vh;
        position: absolute;
        top: -.2vh;
        left: 1.5vh;
        z-index: 9999;
        color: #222;
        transition: color .8s normal;
    }
    #page1 h1{
        font-size: 4vh;
    }
    #page1 h5{
        font-size: 1vh;
        width: 90%;
        transform: rotatex(100px);
    }
    #page1 #call{
        width: 30vh;
        margin-top: 5vh;
        padding: 0.4vw .5vw;
        border: none;
        color: #fff;
        background-color: rgb(10, 10, 79);
        font-weight: 600;
    }
    
}
#page2{
    height: 150vh;
    width: 100%;
    background-color: rgb(240, 243, 240);
    position: relative;
}
#page2-heading{
    /* border: 2px solid black; */
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translatex(-50%);
    color: #003253;
}
#page2-heading h2{
    text-align: center;
    font-size: 2.6vw;
}
#page2-heading h3{
    font-size: 1vw;
}
#page2-services{
    display: flex;
    flex-wrap: wrap;
    gap: 5vw;
    position: absolute;
    top: 25%;
    left: 15%;
    width: 71%;
    height: 63.3%;
}
#page2-services .service{
    height: 20vw;
    width: 20vw;
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow:  20px 20px 53px #cacaca,
             -20px -20px 53px #f6f6f6;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
}
#page2 .service img{
    height: 6vw;
    width: 6vw;
    filter: invert(25%) sepia(25%) saturate(6495%) hue-rotate(188deg) brightness(73%) contrast(100%);
} 
#page2 .service h3{
    font-size: 2vw;
    font-weight: 700;
    color: #003253;
    transition: color .8s linear;
}
#page2-services .service:hover h3{
    color: rgba(1, 1, 77, 0.798);
}
@media  (max-width: 600px){
    #page2{
        height: 240vh;
        width: 100%;
        background-color: rgb(240, 243, 240);
        position: relative;
    }
    #page2-heading{
        top: 3%;
    }
    #page2-heading h2{
        text-align: center;
        font-size: 3.5vh;
    }
    #page2-heading h3{
        font-size: 1.2vh;
        text-align: center;
        width: 50vh;
    }
    #page2-services{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5vh;
        top: 10%;
        height: auto;
    }
    #page2-services .service{
        height: 30vh;
        width: 30vh;
    }
    #page2 .service img{
        height: 8vh;
        width: 8vh;
    } 
    #page2 .service h3{
        font-size: 2vh;
    }
}
#page3{
    height: 80vh;
    width: 100%;
    /* background-color: red; */
    position: relative;
    background-color: rgb(240, 243, 240);
}
#page3 #page3-heading{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translatex(-50%);
    font-size: 2.6vw;
    color: #003253;
}
#page3-content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #003253; */
}
#page3-allphotocontainer{
    width: 80%;
    height: 40%;
    /* background-color: green; */
    display: flex;
    
}
 #page3 .photocontainer{
    height: 100%;
    width: 25%;
    border: 1px solid black;
    position: relative;
}
#page3 .photocontainer img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    filter: brightness(25%); 
    transition: all 0.8s linear;
    position: absolute;
} 
#page3 .photocontainer h3{
  position: absolute;
  color: rgb(240, 243, 240);
  z-index: 999;
  top: 70%;
  left: 8%;
  font-size: 1.3vw;
  transition: top .5s linear;
}
#page3 .photocontainer h4{
    position: absolute;
    top: 82%;
    left: 8%;
    color: rgb(240, 243, 240);
    font-weight: 600;
    font-size: .8vw;
    transition: top .5s linear;
}
#page3 .photocontainer:hover img{
    filter: brightness(45%);
}
#page3 .photocontainer:hover h3{
    top: 60%
}
#page3 .photocontainer:hover h4{
    top: 72%
}
@media  (max-width: 600px){
    #page3{
        height: 190vh;
        width: 100%;
        /* background-color: red; */
        position: relative;
        background-color: rgb(240, 243, 240);
    }
    #page3 #page3-heading{
        top: 5%;
        left: 50%;
        font-size: 3.5vh;
        width: 50vh;
        text-align: center;
    }
    #page3-content{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        /* background-color: #003253; */
    }
    #page3-allphotocontainer{
        width: 110%;
        height: 160vh;
        /* background-color: green; */
        margin-top: 20vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
     #page3 .photocontainer{
        height: 100%;
        width: 95%;
        border: 1px solid black;
        position: relative;
    }
    #page3 .photocontainer img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
        filter: brightness(25%); 
        transition: all 0.8s linear;
        position: absolute;
    } 
    #page3 .photocontainer h3{
      top: 70%;
      left: 10%;
      font-size: 3vh;
    }
    #page3 .photocontainer h4{
        top: 82%;
        left: 10%;
        font-size: 1.3vh;
    }
}
#page4{
    height: 110vh;
    width: 100%;
    background-color: rgb(240, 243, 240);
}
#page4-photocontainer{
    width: 100%;
    height: 65%;
    /* background-color: red; */
    position: relative;
    color: #fff;
}
#page4-photocontainer h2{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translatex(-50%);
    z-index: 99999;
    text-align: center;
    /* border: 2px solid red; */
    font-size: 2.6vw;
    line-height: 1.5vw;
}
#page4-photocontainer h2 span{
    font-size: 1.1vw;
}
#page4-photocontainer img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    filter: brightness(70%);
    position: relative;
}
#page4-photocontainer::after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    display: block;
    top:0;
    left: 0;
    z-index: 999;
    background-image: linear-gradient(to right,rgba(0, 0, 0, 0.558) 8%,transparent,transparent),linear-gradient(to left,rgba(0, 0, 0, 0.793) 1%,transparent,transparent);
}
#page4-cards{
    width: 100%;
    height: 70%;
    /* background-color: green; */
    position: absolute;
    z-index: 999999;
    top: 75%;
    left: 0;
    display: flex;
    justify-content: center;
    gap: 3%;

}
#page4 .card{
    width: 17%;
    height: 100%;
    /* background-color: red; */
    border: 1px solid black;
    background-color: #000000;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5vw;
    /* transition: all .3s linear; */
}
/* #page4 .card:hover{
    transform: translateY(-5%);
} */
#page4 .card h1{
    font-size: 8vw;
    /* transform: translateY(-30%); */
}
#page4 .card h4{
    font-weight: 300;
    font-size: 1.3vw;
}
#page4 .card h5{
    font-weight: 300;
    font-size: .8vw;
    text-align: center;
}
@media  (max-width: 600px){
    #page4{
        height: 236vh;
        width: 100%;
        background-color: rgb(240, 243, 240);
    }
    #page4-photocontainer{
        width: 100%;
        height: 45vh;
        position: relative;
        color: #fff;
    }
    #page4-photocontainer h2{
        top: 40%;
        text-align: center;
        /* border: 2px solid red; */
        width: 80vw;
        font-size: 3.9vh;
        line-height: 2.5vh;
    }
    #page4-photocontainer h2 span{
        font-size: 1.4vh;
        font-weight: 500;
    }
    #page4-cards{
        width: 100%;
        height: 200vh;
        /* background-color: green; */
        top: 80%;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
    }
    #page4 .card{
        width: 75%;
        height: 80vh;
        /* border: 1px solid white; */
        background-color: #000000;
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2.5vh;
       
    }

    #page4 .card h1{
        font-size: 8.5vh;
    }
    #page4 .card h4{
        font-weight: 300;
        font-size: 5.8vw;
    }
    #page4 .card h5{
        font-weight: 200;
        font-size: 3vw;
        text-align: center;
    }
}
#page5{
    height: 120vh;
    width: 100%;
    background-color: rgb(240, 243, 240);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
#page5-full{
    width: 77%;
    height: 60%;
    /* background-color: red;
    display: flex; */
}

#page5-content{
    width: 100%;
    height: 80%;
    display: flex;
    position: relative;
}
#page5-content::after{
   content: "FEEDBACK";
   position: absolute;
   /* background-color: rgba(255, 0, 0, 0.12); */
   height: 100%;
   width: 100%;
   display: flex;
   align-items: end;
   justify-content: center;
   font-size: 14.8vw;
   font-weight: 800;
   color: rgba(225, 210, 210, 0.322);   
}
#page5-full h2{
    color: #003253;
    font-size: 2.6vw;
    position: relative;
}
#page5-full h2::after{
    content: "";
    height: 2vw;
    width: 2vw;
    position: absolute;
    top:25%;
    left: 40%;
    clip-path: polygon(67% 34%, 100% 0, 100% 50%, 100% 100%, 0 100%, 37% 63%);
    background-color: rgb(239, 62, 4);
}
#page5-full h4{
    font-size: 1.5vw;
    color: #00325362;
}
#page5-content #container{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 4vw;
    gap: 1vw; 
}
#page5-content #container:nth-child(2){
    padding-left: 2vw;
}
#page5-content #container img{
    height: 7vw;
    width: 7vw;
}
#page5-content #container h4{
  color: #000;
  text-align: justify;
  font-size: 1.3vw;
  font-weight: 300;
}
#container h3{
    margin-top: 2vw;
    font-weight: 500;
    font-size: 2vw;
}
#container i{
    display: inline-block;
    transform: translateY(-50%);
    /* margin-top: 1vw; */
    color: rgb(239, 62, 4);
}
@media  (max-width: 600px){
    #page5{
        height: 80vh;
        width: 100%;
        background-color: rgb(240, 243, 240);
        /* background-color: red; */
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #page5-full{
        width: 77%;
        height: 90%;
        /* background-color: green; */
        position: absolute;
        top: 10%;
    }
    #page5-content{
        width: 100%;
        height: 65vh;
    }
    #page5-content::after{
        content: "FEEDBACK";
        position: absolute;
        bottom: 20%;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14.8vw;
        font-weight: 800;
        color: rgba(225, 210, 210, 0.322);   
     }
    #page5-full h2{
        color: #003253;
        font-size: 3vh;
        position: relative;
    }
    #page5-full h2::after{
        content: "";
        height: 2vh;
        width: 2vh;
        position: absolute;
        top:25%;
        left: 92%;
    }
    #page5-full h4{
        font-size: 1.8vh;
        color: #00325362;
    }
    #page5-content #container{
        width: 100%;
        height: 90%;
        /* background-color: blue; */
        border: 1px solid white;
        display: flex;
        flex-direction: column;
        align-items: start;
        margin-top: 4vw;
        gap: 2.7vh; 
    }
    #page5-content #container:nth-child(2){
        padding-left: 2vw;
        display: none;
    }
    #page5-content #container img{
        height: 7vh;
        width: 7vh;
    }
    #page5-content #container h4{
      color: #000;
      text-align: justify;
      font-size: 1.5vh;
      font-weight: 300;
    }
    #container h3{
        margin-top: 2vw;
        font-weight: 500;
        font-size: 2.5vh;
    }
}
#page6{
    height: 100vh;
    width: 100%;
    background-color: rgb(240, 243, 240);
    /* background-color: red; */
    display: flex;
    align-items: center;
}
#page6-content{
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4vw;
    position: relative;
 }
 #page6-content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://media.istockphoto.com/id/907671144/photo/new-black-metallic-sedan-car-in-spotlight-modern-desing-brandless.webp?b=1&s=170667a&w=0&k=20&c=iRCRxIQd80qVlVSCXArb3gDlB1Gl-aINDcyzezGGnAQ=");
    background-position: center;
    background-size: cover; 
    filter: brightness(25%);
}
  #page6-content h1,
 #page6-content h4,
 #page6-content button {
     color: #ffffff; 
     position: relative;
     z-index: 99;
 }
 #page6-content h1{
    font-size: 3.8vw;
    text-align: center;
    padding: 0 2vw;
 }
 #page6-content h4{
    margin-top: -1.5vw;
   font-weight: 200;
   font-size: 1.2vw;
   color: #e1e1e1;
 }
 #page6-content button{
   background-color: rgb(239, 62, 4);
   color: #fff;
   padding: 1vw 4vw;
   font-size: 1.1vw;
 }
 @media  (max-width: 600px){
    #page6{
        height: 55vh;
        width: 100%;
        background-color: rgb(240, 243, 240);
        /* background-color: red; */
        align-items: start; 
    }
    #page6-content{
        width: 100%;
        height: 45vh;
        gap: 3vh;
     }
     #page6-content h1{
        font-size: 3.8vh;
        text-align: center;
        padding: 0 1.5vh;
     }
     #page6-content h4{
       margin-top: -1.5vw;
       font-weight: 200;
       font-size: 1.5vh;
       color: #e1e1e1;
       text-align: center;
     }
     #page6-content button{
       background-color: rgb(239, 62, 4);
       color: #fff;
       padding: 1.5vh 4.5vh;
       font-size: 1.8vh;
     }
 }
 #page7{
   height: 100vh;
   width: 100%;
   background-color: rgb(240, 243, 240);
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 10%;
 }
 #page7-left h2{
    font-size: 2.6vw;
    text-align: center;
    color: rgb(10, 10, 79);
 }
 #page7-left h3{
    font-size: 2vw;
    text-align: center;
    color: rgb(239, 62, 4);
 }

 #page7-right{
    height: 100%;
    width: 50%;
    border-radius: 5px;
    overflow: hidden;

 }
 #page7-right:hover img{
    transform: scale(4);
 }
 #page7-right img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    transition: all 1.5s linear;
 }
 @media  (max-width: 600px){
    #page7{
        height: 90vh;
        width: 100%;
        background-color: rgb(240, 243, 240);
        /* background-color: red; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 5%;
      }
      #page7-left h2{
         font-size: 2.6vh;
         text-align: center;
         color: rgb(10, 10, 79);
      }
      #page7-left h3{
         font-size: 2vh;
         text-align: center;
         color: rgb(239, 62, 4);
      }
     
      #page7-right{
         height: 70%;
         width: 90%;
         border-radius: 5px;
         overflow: hidden;
      }
 }
 #page8{
    height: 100vh;
    width: 100%;
    background-color: rgb(240, 243, 240);
   /* background-color: red; */
    display: flex;
    align-items: center;
 }
 #page8-content{
    width: 100%;
    height: 80%;
    background-color: black;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* color: #fff; */
 }
 #page8-content h1{
    color: #fff;
    font-size: 2.6vw;
    /* background-color: red; */
    position: relative;
 }
 #page8-content h1::after{
    content: "";
    height: 70%;
    width: 8%;
    position: absolute;
    top: 16%;
    left: 101%;
    background-color: rgb(239, 62, 4);
    clip-path: polygon(67% 34%, 100% 0, 100% 50%, 100% 100%, 0 100%, 37% 63%);
 }
 #page8-content #images{
    height: 60%;
    width: 100%;
    display: flex;
    align-items: center;
 }
 .swiper {
    width: 25%;
    height: 50%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    /* background: #fff; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
@media  (max-width: 600px){
    #page8{
        height: 80vh;
        width: 100%;
        display: flex;
        align-items: center;
     }
     #page8-content{
        width: 100%;
        height: 65%;
     }
     #page8-content h1{
        color: #fff;
        font-size: 3.5vh;
     }
     #page8-content #images{
        height: 60%;
        width: 100%;
        /* background-color: green; */
        display: flex;
        align-items: center;
        position: relative;
     }
     .swiper {
        width: 50%;
        height: 65%;
        /* background-color: blue; */
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }
      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background-color: #000;
        display: flex;
        justify-content: center;
        align-items: center;
      }
}
#page9{
    height: 90vh;
    width: 100%;
    background-color: rgb(240, 243, 240);

}
#page9-upper{
    height: 60%;
    width: 100%;
    /* background-color: red; */
    display: flex;
    padding: 0 5%;
}
#upper-left{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 8%;
}
#upper-left #logo{
        font-size: 1.5vw;
        letter-spacing: -.5px;
        font-family: "Open Sans";
        font-weight: 800;
        color: rgb(10, 10, 79);
   
}
#upper-left #logo span{
    color: rgb(239, 62, 4);
}
#upper-left > :first-child ~ * {
    font-weight: 400;
}
#social-medias a{
    text-decoration: none;
    padding: 10px;
    border: 1px solid rgb(239, 62, 4);
    border-radius: 50%;
    margin-right: 1%;
}
#upper-left h4 i{
    color: rgb(239, 62, 4);
    margin-right: 1.5%;
}
#upper-right{
    height: 100%;
    width: 50%;
    display: flex;

}
.upper-right-parts{
    height: 100%;
    width: 50%;
    padding-left: 8%;
    display: flex;
    flex-direction: column;
    align-items: start;
    line-height: 230%;
}
.upper-right-parts h2{
    position: relative;
    height: fit-content;
    width: 60%;
}
.upper-right-parts h2::after{
    content: "";
    height: 59%;
    width: 10%;
    position: absolute;
    top: 18%;
    left: -13%;
    background-color: rgb(239, 62, 4);
    clip-path: polygon(67% 34%, 100% 0, 100% 50%, 100% 100%, 0 100%, 37% 63%);
}
.upper-right-parts ul{
    list-style-type: none;
    position: relative;
}
.upper-right-parts ul li::before {
    content: "•"; 
    color: rgb(239, 62, 4); 
    position: absolute;
    left: -20px;
}
#page9-lower{
    height: 40%;
    width: 100%;
    /* background-color: black; */
    position: relative;
    display: flex;
    justify-content: center; 
}
#contain{
    height: 100%;
    width: 35%;
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    position: absolute;
    top: -30%;
}
#page9-lower h5,h6{
    position: absolute;
} 
#page9-lower h5{
    top: 75%;
    letter-spacing: -.5px;
    font-family: "Open Sans";
    font-weight: 800;
    color: rgb(10, 10, 79);
}
#page9-lower h5 span{
    color: rgb(239, 62, 4);
    }
#page9-lower h6{
    top: 80%;
    font-weight: 400;
    font-size: .8vw;
}
@media  (max-width: 600px){
    #page9{
        height: 150vh;
        width: 100%;
        background-color: rgb(240, 243, 240);
        /* background-color: red; */
    
    }
    #page9-upper{
        height: 60vh;
        width: 100%;
        /* background-color: red; */
        display: flex;
        flex-direction: column;
        padding: 0 5%;
    }
    #upper-left{
        height: 100%;
        width: 100%;
        /* background-color: green; */
        border-bottom: 1px solid rgba(239, 63, 4, 0.456);
        display: flex;
        flex-direction: column;
        gap: 4vh;
        /* margin-bottom: 3vh; */
        padding-bottom:3vh;
    }
    #upper-left #logo{
            font-size: 2.5vh;
    }
    #upper-left > :first-child ~ * {
        font-weight: 400;
    }
    #social-medias a{
        text-decoration: none;
        padding: 10px;
        border: 1px solid rgb(239, 62, 4);
        border-radius: 50%;
        margin-right: 1vh;
    }
    #upper-left h4 i{
        color: rgb(239, 62, 4);
        margin-right: 1.3vh;
    }
    #upper-right{
        height: 100%;
        width: 100%;
        /* background-color: yellow; */
        display: flex;
        flex-direction: column;
    }
    .upper-right-parts{
        /* background-color: blue; */
        height: 100%vh;
        width: 100%;
        padding-left: 8%;
        display: flex;
        flex-direction: column;
        align-items: start;
        line-height: 6vh;
        padding-bottom: 3vh;
        border-bottom: 1px solid rgba(239, 63, 4, 0.395);
    }
    .upper-right-parts h2{
        position: relative;
        height: fit-content;
        width: 60%;
    }
    .upper-right-parts h2::after{
        content: "";
        height: 59%;
        width: 10%;
        position: absolute;
        top: 18%;
        left: -13%;
        background-color: rgb(239, 62, 4);
        clip-path: polygon(67% 34%, 100% 0, 100% 50%, 100% 100%, 0 100%, 37% 63%);
    }
    .upper-right-parts ul{
        list-style-type: none;
        position: relative;
    }
    .upper-right-parts ul li::before {
        content: "•"; 
        color: rgb(239, 62, 4); 
        position: absolute;
        left: -20px;
    }
    #page9-lower{
        height: 20vh;
        width: 100%;
        /* background-color: black; */
        position: relative;
        top: 62vh;
        display: flex;
        justify-content: center; 
        align-items: end;
    }
    #contain{
        height: 100%;
        width: 40%;
        /* background-color: green; */
        position: absolute;
        top: 5vh;
    }
    #contain img{
        display: none;
    }
    #page9-lower h5,h6{
        display: block;
    } 
    #page9-lower h5{
        top: 70%;
        color: rgb(10, 10, 79);
    }
    #page9-lower h5 span{
        color: rgb(239, 62, 4);
        }
    #page9-lower h6{
        top: 80%;
        font-weight: 400;
        font-size: .9vh;
    }
}